[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
isort = "*"
pylint = "*"
pylint-django = "*"
pytest-cov = "*"
pytest-django = "*"
