{% extends 'trektribe/base.html' %}
{% load static %}

{% block content %}


<!-- Featured Post -->
{% if next_event %}
<article class="post featured">
    <header class="major">
        {% if next_event.date %}
        <span class="date">{{ next_event.date }}</span>
        {% endif %}
        <h2><a href="{% url 'event_detail' pk=next_event.pk %}">{{ next_event.title }}</a></h2>
        {% if next_event.user.user_profile.display_name %}
        <span class="author">
            Autore:
            <a href="{% url 'user_profile_detail' pk=next_event.user.user_profile.id %}">
                {{ next_event.user.user_profile.display_name }}
            </a>
        </span>
        {% endif %}
        <p>{{ next_event.short_description|linebreaksbr}}</p>
    </header>
    <!-- <a href="#" class="image main"><img src="{% static 'images/pic01.jpg' %}" alt="" /></a> -->
    <ul class="actions special">
        <li><a href="{% url 'event_detail' pk=next_event.pk %}" class="button">Dettagli</a></li>
    </ul>
</article>
{% endif %}

<!-- Posts -->
{% if not page_obj %}
<article class="post featured">
    <header class="major">
        <p>
            {% if search %}
            Nessuna proposta con i criteri di ricerca inseriti, contattaci per proporne una tu!
            {% else %}
            Nessuna proposta per il momento, contattaci per proporne una tu!
            {% endif %}
        </p>
    </header>
</article>
{% else %}
<section id="event_list" class="posts">
    {% for event in page_obj %}
    <article>
        <header>
            {% if event.date %}
            <span class="date">{{ event.date }}</span>
            {% endif %}
            <h2><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></h2>
            {% if event.user.user_profile.display_name %}
            <span class="author">
                Autore:
                <a href="{% url 'user_profile_detail' pk=event.user.user_profile.id %}">
                    {{ event.user.user_profile.display_name }}
                </a>
            </span>
            {% endif %}
        </header>
        <!-- <a href="#" class="image fit"><img src="{% static 'images/pic02.jpg' %}" alt="" /></a> -->
        <p>{{ event.short_description|linebreaksbr}}</p>
        <ul class="actions special">
            <li><a href="{% url 'event_detail' pk=event.pk %}" class="button">Dettagli</a></li>
        </ul>
    </article>
    {% endfor %}
</section>
{% endif %}

<!-- Footer -->
{% if page_obj.paginator.num_pages > 1 %}
<footer>
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="{% url 'event_list' %}?page={{ page_obj.previous_page_number }}#event_list" class="previous"></a>
        {% endif %}
        {% for i in page_range %}
        {% if page_obj.number == i %}
        <a class="page active" aria-disabled="true">{{ i }}</a>
        {% else %}
        {% if i == page_obj.paginator.ELLIPSIS %}
        <span class="extra">{{ i }}</span>
        {% else %}
        <a href="{% url 'event_list' %}?page={{ i }}#event_list" class="page">{{ i }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="{% url 'event_list' %}?page={{ page_obj.next_page_number }}#event_list" class="next"></a>
        {% endif %}
    </div>
</footer>
{% endif %}
{% endblock %}
