{% extends 'trektribe/base.html' %}
{% load static %}

{% block title %}
<title>TrekTribe - Info</title>
{% endblock %}

{% block content %}
<article class="post featured">
    <header class="major">
        <h2>
            Che cos'è TrekTribe?
        </h2>
        <h3>Apertura, libertà, opportunità</h3>
    </header>

    <p>
        TrekTribe è nato con una visione audace: rendere tutto open-source e disponibile a chiunque sia appassionato di
        escursionismo.
    </p>

    <p>
        Siamo fermamente convinti che l'avventura dovrebbe essere un diritto di tutti, senza alcuna barriera.<br>
        Perciò, offriamo un ambiente in cui chiunque può proporre e organizzare camminate, senza restrizioni o vincoli.
    </p>

    <p>
        Ciò che rende TrekTribe unico è la sua natura libera. Crediamo fortemente nella libertà di espressione e
        nell'autonomia dei singoli.<br>
        Non ci sono leader dominanti o gerarchie oppressive all'interno del nostro gruppo.<br>
        <strong>
            Ognuno di voi è libero di esprimere la propria creatività e di condividere le proprie idee.
        </strong>
    </p>

    <p>
        Entra in TrekTribe e abbraccia l'essenza dell'avventura condivisa.
        Fai parte di una comunità inclusiva che valorizza la libertà e l'esplorazione senza limiti.
        Unisciti a noi oggi stesso!
    </p>
</article>
{% endblock %}
